@tailwind base;
@tailwind components;
@tailwind utilities;

/* Globally hide horizontal scrollbar */
html,
body {
    overflow-x: hidden !important;
    width: 100vw !important;
    overflow-y: scroll;
    scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

/* Utility class to hide scrollbar in specific divs */
.scrollbar-hidden {
    scrollbar-width: none;
    /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}